<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/stilo.css'%}">
</head>
<body>
    
    <div class="container-fluid">
        <div class="position-absolute top-50 start-50 translate-middle" style="background: #1200FF; color: white; width: 320px; height: 320px; border-radius: 14%;">
            <form action="submit" method="POST">{% csrf_token %}
                <div class="mb-3" style="margin: 30px;">
                    <label for="" class="form-label">Matricula</label>
                    <input type="text" class="form-control" name="username" placeholder="X0000000">
                </div>
                <div class="mb-3" style="margin: 30px;">
                    <label for="" class="form-label">Senha</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="mc-3" style="margin: 30px;">
                    <input class="btn btn-primary" type="submit" value="Entrar">
                </div>
            </form>
        </div>
        <div class="position-absolute bottom-0 start-50 translate-middle-x">
            {% for messages in messages %}
            <strong>{{ messages }}</strong>
            {% endfor %}
        </div>
    </div>
    
</body>
</html>