{% extends "home.html" %}

{% load static %}

{% block content %}

<div class="flex-column" style="border: 1px solid #99acc2">
    <div class="d-flex align-items-stretch">
        <img src="" alt="" srcset="">
        <p>Vendedor A</p><p> Filial </p>
    </div>
    <div class="d-flex align-items-stretch" style="background-color: rgb(82, 201, 248); height: 80; width: 20 ;">
        <div ></div>
        <p>aqui ficarão as postagens automárticas e as postagens individuais e todos os inscritos verão todas as postagens</p>
    </div>
</div>

{% endblock content %}