{% extends "home.html" %}

{% load static %}

{% block content %}

    <p> nesta tela terá os inputs em range para calcular a previsão</p>


{% for itm in as %}

    <div class="card" style="width: 18rem;">
        <div>
            <img src="https://cdn-icons-png.flaticon.com/512/1170/1170601.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            {{ itm }}
        </div>
        <div>
            <input type="range" name="" id=""   >
        </div>
    </div>

{% endfor %}


{% endblock content %}